<v-data-table dense :headers="deploymentPage.table.headers" :items="deploymentPage.table.items" item-key="name"
  :items-per-page="deploymentPage.table.itemsPerPage" :search="deploymentPage.table.search"
  show-select v-model="deploymentPage.table.selected" show-expand single-expand>

  <template v-slot:item.ready="{ item }">
    [[ item.ready_replicas ]]/[[ item.replicas ]]
  </template>

  <template v-slot:expanded-item="{ headers, item }">
    <td></td><td></td>
    <td :colspan="headers.length -1" >
      <table>
        <template v-for="extendItem in deploymentPage.table.extendItems">
          <tr><td><strong>[[extendItem.text ]]:</strong> </td><td>[[ item[extendItem.value] ]]</td></tr>
        </template>
      </table>
    </td>
  </template>

</v-data-table>
